exportPattern("^[[:alpha:]]+")
import(jmvcore)
importFrom(jmvcore,.)
import(ggplot2)
import(graphics)
import(stats)
import(knitr)
import(car)
export(Lreg)
export(contab)
export(ctt)
export(l2sttest)
export(laov1w)
export(lcorr)
export(llr)
export(lrttest)
export(lttest)
export(mcnem)
export(prop)
export(lsampsz)
export(l2waov)
export(lrm1waov)
